{% extends "base.html" %}


{% block title %}
    {{ _("Privacy | Term of Use") }}
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ 'index/css/index.css' | StorageUrl }}">


{% endblock style %}

{% block content %}

    <section class="base-index-background p-0 m-0">
        {% include "web/utils/navbar.html" %}

        <section class="w-100">
            <div class="container-fluid my-5">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <p class="text-center text-warning fw-bold h1">Privacy/Terms of Use</p>
                    </div>

                    <div class=" col-11 my-4 ps-5">
                        <h3 class="t text-white">FREE Account</h3>
                        <p class="text-white">...</p>
                    </div>
                    <div class=" col-11 my-4 ps-5">
                        <h3 class="text-white">Data and Security</h3>
                        <p class="text-white">We make every effort to provide accurate and up-to-date
                            information to you, and we also strive to maintain the security of our users.</p>
                    </div>
                    <div class="col-11 my-4 ps-5">
                        <h3 class="text-white">Cost and services</h3>
                        <p class="text-white">Our service and offerings are free for the general
                            public, and there is no cost required to use our service</p>
                    </div>

                    <div class="col-11 my-4 ps-5">
                        <h3 class="text-white">Rate Limit</h3>
                        <p class="text-white">...</p>
                    </div>

                    <div class="col-11 my-4 ps-5">
                        <h3 class="text-white">Price and Donation</h3>
                        <p class="text-white">...</p>
                    </div>

                    <div class="col-11 my-4 ps-5">
                        <h3 class="text-white">IP database</h3>
                        <p class="text-white">...</p>
                    </div>

                </div>
            </div>
        </section>

        l
        {% include "web/utils/footer.html" %}
    </section>
{% endblock content %}

{% block script %}
{% endblock script %}