.col-split-main, .forget-col-split-main {
    padding: 100px;
    background-image: url(../../media/login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}

body{
    direction: rtl;
}
