<section class="bg-dark" style="border-top: 1px solid rgba(255,255,255,0.5)">

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-10 my-2">
                <div class="row">
                    <div class="col-lg-4 col-md-4  col-sm-6 col-12 d-flex flex-column justify-content-center align-items-center m-md-0 my-3">
                        <img class="rounded img-fluid" style="width: 45px" src="{{ "media/logo.png" | StorageUrl(external=True) }}">
                        <h6 class="text-white">IP 2 Geo Location / {{ _('Free to Everyone') }}</h6>
                        <p class="text-white" style="font-size: 15px">© 2023 ip2geo.ir. {{ _('All rights reserved.') }}</p>
                    </div>
                    <div class="col-lg-4 col-md-4  col-sm-6 col-12 d-flex flex-column justify-content-center align-items-center m-md-0 my-3">
                        <h6 class="text-white">{{ _('Terms of Use') }}</h6>
                        <a href="{{ url_for('web.term_get') }}" style="font-size: 15px" class="text-white text-decoration-none">{{ _('Privacy') }}</a>
                        <a href="{{ url_for('web.contact_us_get') }}" style="font-size: 15px" class="text-white text-decoration-none">{{ _('Contact Us') }}</a>
                        <a href="{{ url_for('web.about_us_get') }}" class="text-white m-0 text-decoration-none" style="font-size: 15px">{{ _('About us') }}</a>
                    </div>
                    <div class="col-lg-4 col-md-4  col-sm-6 col-12 d-flex flex-column justify-content-center align-items-center m-md-0 my-3">
                        <h5 class="text-white text-center">{{ _('Social Networks') }}</h5>
                        <div class="d-flex  justify-content-center align-items-center">
                            <a href="https://github.com/alisharify7">
                                <i class="bi bi-github fs-4 mx-2 text-warning"></i>
                            </a>
                            <a href="https://twitter.com/alisharify7">
                                <i class="bi bi-twitter text-primary fs-4 mx-2"></i>
                            </a>
                            <a href="">
                                <i class="bi bi-youtube text-danger fs-4 mx-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 my-2"><p class="text-center  text-white">© {{ _('all rights reserved') }} - 2023</p></div>
        </div>
    </div>

</section>