<nav class="navbar navbar-expand-lg bg-dark" style="border-bottom: 1px solid rgba(255,255,255,0.5)">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ url_for('web.index_get') }}">
            <img class="img-fluid rounded-circle" style="width:75px"
                 src="{{ "media/logo.png" | StorageUrl(external=True) }}">
        </a>

        <div id="navbar-burger-menu"
             class="d-lg-none ms-4"
             data-bs-toggle="collapse"
             data-bs-target="#navbarSupportedContent">
            <div class="line1 bg-white shadow"></div>
            <div class="line2 bg-white shadow"></div>
            <div class="line3 bg-white shadow"></div>
        </div>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 pe-auto pe-3">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page"
                       href="{{ url_for('web.index_get') }}">{{ _('Home') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('web.contact_us_get') }}">{{ _('Contact Us') }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white text-end" href="#" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ _('Services') }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-end"
                               href="{{ url_for('docs.serve', documentName='public-ip') }}">{{ _('Public IP Address') }}</a>
                        </li>
                        <li><a class="dropdown-item text-end"
                               href="{{ url_for('docs.serve', documentName='ip-to-location') }}">{{ _('IP to Location') }}</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-end"
                               href="{{ url_for('docs.serve', documentName='country-info') }}">{{ _('Country info API') }}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-end" role="button" data-bs-toggle="modal" data-bs-target="#"
                               href="#UnderDevelopmentModal">{{ _('DNS Servers List') }}</a></li>
                    </ul>
                </li>
                <li class="nav-item text-end">
                    <a href="{{ url_for('web.term_get') }}"
                       class="nav-link text-white">{{ _('Privacy/Terms of Use') }}</a>
                </li>
                </li>
                <li class="nav-item">
                    <a role="button" data-bs-toggle="modal" data-bs-target="#" href="#UnderDevelopmentModal" class="nav-link text-white">Login/Register</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="UnderDevelopmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <p class="modal-title h4" id="staticBackdropLabel">{{ _('Under Development') }}</p>
            </div>
            <div class="modal-body">
                {{ _('This section is under development and not Available now,Please Try again Later') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">{{ _('OK') }}</button>
            </div>
        </div>
    </div>
</div>